---
layout: default
type_class: publication
---
<div id="header-background">
  <div class="row">
    <div id="top">
<!--
      {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
      {% if page.subheading %}<h2>{{ page.subheading }}</h2>{% endif %}

      <p class="meta">

      {% if page.author && if page.author_url %} • <a href="{{ page.author_url }}">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
    -->


    </div>
  </div>
</div>


  <div class="row">
    <main>
      <article>
        <header>
        {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
        </header>

      <hr>
      <q>{{ content }}</q>




        {% if page.authors || page.date %}
        <footer class="meta">
        {% if page.authors %}
          {{ page.authors }}
        {% endif %}
        •
        {% if page.date %}
          <time datetime="{{ page.date | date: "%b %-d, %Y" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% endif %}
        </footer>
        {% endif %}

<!--
        {% if page.journal %}
          <p>{{ page.journal }}</p>
        {% endif %}

        {% if page.abstract %}
          <p>{{ page.abstract }}</p>
        {% endif %}
  -->

      </article>
    </main>
  </div>
