

// ------------------------------------------------------------
// Omega Reset Mixin
// Documention for Omega-Rest was found here:
// http://joshfry.me/notes/omega-reset-for-bourbon-neat/
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

.box{
  @include media($mobile) {
    @include span-columns(24); // of 24
    @include omega(1n);
  }
  @include media($tablet) {
    @include omega-reset(1n); // Reset previous @include omega()
    @include span-columns(12); // of 24
    @include omega(2n);
  }
  @include media($desktop) {
    @include omega-reset(2n); // Reset previous @include omega()
    @include span-columns(8);  // of 24
    @include omega(3n);

  }
  @include media($largedesktop) {
  // we really wanna keep 3 columns until wide desktop below, so
  // i comment this next section out and we go on to $widedesktop
  //  @include omega-reset(3n); // Reset previous @include omega()
  //  @include span-columns(6);  // of 24
  //  @include omega(4n);
  }

}

.third {
  @include media($mobile) {
    @include span-columns(24); // of 24
  }
  @include media($tablet) {
    @include span-columns(8); // of 24
  }
  @include media($desktop) {
    @include span-columns(8);  // of 24
  }
  @include media($largedesktop) {
    @include span-columns(8);  // of 24
  }

}


.half {
  @include media($mobile) {
    @include span-columns(24); // of 24
  }
  @include media($tablet) {
    @include span-columns(12); // of 24
  }
  @include media($desktop) {
    @include span-columns(12);  // of 24
  }
  @include media($largedesktop) {
    @include span-columns(12);  // of 24
  }

}


.quarter {
  @include media($mobile) {
    @include span-columns(24); // of 24
  }
  @include media($tablet) {
    @include span-columns(6); // of 24
  }
  @include media($desktop) {
    @include span-columns(6);  // of 24
  }
  @include media($largedesktop) {
    @include span-columns(6);  // of 24
  }

}

.three-quarters {
  @include media($mobile) {
    @include span-columns(24); // of 24
  }
  @include media($tablet) {
    @include span-columns(18); // of 24
  }
  @include media($desktop) {
    @include span-columns(18);  // of 24
  }
  @include media($largedesktop) {
    @include span-columns(18);  // of 24
  }

}

figure { //resets figure
  padding:0;
  // the next two lines - NEAT has those set as 40px each for some reason. we override it.
  -webkit-margin-start:0px;
  -webkit-margin-end:0px;
  margin:0;
  img{width:100%} // makes ecard images stretch, expand
}


// figure is used on the outreach page.

figure {
  margin-bottom:4em;
  img{margin:0;}
  figcaption{
    padding:1em;
    font-size:80%;
    margin-top:-10px;
    background:#222;
    color:#fafafa;
    }
}

.box{
  //@include padding(0 0 1em 0);
  min-height:300px;
  margin-bottom:3em;
  border-bottom:2px solid #ccc;
  //border:1px solid #ccc;
  // background:white;
// box-shadow:0 0 5px 0 rgba(0,0,0,.2);
}


/*----- */


.float-right{float:right}
.float-left{float:left}

.pad-right { // this is used by the .half section on the front page that encloses The Mission
  padding-right:40px;
}

// omega class
.omega {@include omega();}
// wow, this line below adds padding to the MAIN element. works well.
// normally id add this to aside and section instead. lets roll with this.
//  @include pad(30px 0px);

.row {
  @include outer-container;
  max-width:1100px;
}


// main is the outer container on .page and .post pages.
// main is NOT used on frontpage
body.page,body.publication{

  #top {
    @include pad(90px 0px 40px 0);
  }

  main {
    @include pad(80px 0px 30px 0);

  }


}
// this is the list of publications, not the publication itself.
// ie. /publications
// body.publications{
//   .publications-list{
//   //  hr{margin:3em 0}
//     &:last-child{
//     //  hr{display:none}
//     }
//   }
// }

.pagination{margin:2em 0}






body > footer {
    padding-top: 2rem;
    margin:0;
}


.share-row {
  @include pad(50px 0px 50px 0);
  margin:0 auto;
  ul#share-buttons{
    margin:0 auto;
    list-style-type:none;
    li {float:left;margin-left:20px;}
  }

}




.page_number {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 0.5em;
}

/*
// dont do this in this template
.quarter:last-child,
.third:last-child,
.two-thirds:last-child { text-align: justify; }
*/


/* front page */
.frontpage {
  section {
    position: relative;
    padding: 4em 0;
  }

  #frontpage-top{
    padding-top:6em;
  }
}
img.icon { // circles with icons, 3 in a row
  display: block;
//  font-size: 8em;
  line-height: 2em;

  width: 278px;
  height: 278px;
//  margin-bottom:3em;
  margin: 0 auto 40px auto;
//  padding-bottom:30px;
}
// text beneath the icon circles. they needed padding
.third.centered p {
  padding:0 15px;

  }



@include media($mobile) {
  // grid has 4 columns in total
  // see grid-settings for more info about media query widths.


   // HIDE ON MOBILE
  .hide-on-mobile{display:none;visibility:hidden}

  .row {
    // give content some breathing room on small screens
    padding-left: 1em;
    padding-right: 1em;
  }


//  aside section{@include span-columns(4);}

  // is this next line still necessary?
  //.main .row { padding-bottom: 0 }

// main is the outer container on .page and .publication pages.
// main is NOT used on frontpage
  .publication,.page{
    main,#top {
      @include span-columns(24);
    }
    header{
      h2.icon-book-open:before{
          display:none;visibility:hidden;

      }
    }
  }


  // used by workshops
  body.page.fullwidth{
    main,#top{
      //@include row();
      @include span-columns(24);
      @include shift(0);

  }
}

  /* front page */

  #greeting{
    text-align:center;
    margin-bottom:40px;
    }

  img.icon { // circles with icons, 3 in a row
    // width: 1.5em;
    // height: 1.5em;
    width:50%;
    height:50%;
  }

  // share icons in footer
  ul#share-buttons{width:400px;}
}



@include media($tablet) { // grid has 8 columns in total



  .hide-on-mobile{display:block;visibility:visible}
  .hide-on-tablet{display:none;visibility:hidden}
  .hide-on-desktop{display:none;visibility:hidden}

  // .show-on-tablet{display:block;visibility:visible}




// main is the outer container on .page and .publication pages.
// main is NOT used on frontpage
  .publication,.page{
    main,#top {
      @include span-columns(18);
      @include shift(3);
     }

     header{
       h2.icon-book-open:before{
          display:inline-block;visibility:visible;
        //text-indent:0;
         margin-top: 0.2em;
         padding: 0;
         margin-left: -1.5em;
         padding-right: 1.2em;
         opacity: .15;
         height:100%;
       }
     }
   }

// used by workshops
body.page.fullwidth{
    main,#top{
      //@include row();
      @include span-columns(24);
      @include shift(0);

  }
}

  /* front page */


  #greeting {text-align:right}

  img.icon { // circles with icons, 3 in a row
    width:80%;
    height:80%;
    // width: 1.3em;
    // height: 1.3em;
  }

  .share-row{
    @include pad(50px 0px 30px 0);
    ul#share-buttons{width:820px;}

  }
  // share icons in footer

}





@include media($desktop) { // grid has 12 columns in total

  .hide-on-mobile{display:block;visibility:visible}
  .hide-on-tablet{display:block;visibility:visible}
  .hide-on-desktop{display:block;visibility:visible}

//  aside section {@include span-columns(4);}

   footer { padding: 0; }

// main is the outer container on .page and .publication pages.
// main is NOT used on frontpage
body.publication,body.page{
    main,#top {
      @include span-columns(18);
      @include shift(3);
    }

  }

// used by workshops
body.page.fullwidth{
    main,#top{
      //@include row();
      @include span-columns(24);
      @include shift(0);

  }
}


  /* front page */


  // /* front page */
  // .icon { // circles with icons, 3 in a row
  //   width: 1.5em;
  //   height: 1.5em;
  // }

  // share icons in footer
  ul#share-buttons{width:860px;}

}

@include media($largedesktop) { // grid has 16 columns in total

  //  aside section {@include span-columns(5);}


// main is the outer container on .page and .publication pages.
// main is NOT used on frontpage
  .publication,.page{
     main,#top {
       @include span-columns(12);
       @include shift(6);
     }
   }

// used by workshops
body.page.fullwidth{
    main,#top{
      //@include row();
      @include span-columns(24);
      @include shift(0);

  }
}


  /* front page */


}
