$nav-color:#45a1be;//steelblue

nav {
  margin:0px;

  hr {margin:3em 0}

  h1 {
    margin:40px 0;
    padding:.9em 0;
    text-align:center;
    text-transform:none;
    }
  }


 nav ol, nav ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }





p a {
  /* Optimized for touch devices */
  margin: -.5em;
  padding: .5em;
  position: relative; }



/* Colors */


.menu {
  float: right;
  cursor: pointer;
  display: block;
  pointer-events: auto;
  color:#999;
  margin-top:5px;
  opacity:.5;

  a#navigation:link {
    font-size:15px;
     font-weight:700;
    text-transform: uppercase;
    text-spacing:3px;
    color:#000;

    }
  &:hover{opacity:.6;}
}
.icon-menu{font-size:14px;color:#000;}


/* Navigation */
nav {
  position: fixed;
  top: -2000px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100px;
  min-height: 100%;
  background-color: #f7f7f7;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  color: #333;
  text-transform: uppercase; }

nav time {color:#ccc;font-size:1.5rem;}

.navigation {
  padding-top: 6em;
  text-align: center; }

.navigation-end {
  margin-top: 5em;
  margin-bottom: 2.5em;
  text-align: center; }

.navigation-end img {
  height: 2em;
  margin: 1.5em; }

nav hr {
  display: block;
  border-top: 0;
  margin: 2em 0;
  padding: 0; }

.headline {
  margin-top: 3em;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 0.77273em;
  color: $nav-color; }

.headline a {
  float: right;
  padding-left: 20px;
  cursor: pointer;
}

nav ul {
  margin: 1em 0;
  padding: 0; }

nav li {
  border-top: 2px solid $nav-color;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0.5em;
  font-weight: bold;
  position: relative;
}


nav li:hover,
nav li.view-all:hover,
.nav-close span:hover {
  background: $nav-color;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color:#fff;
}
nav li:hover:after { /* right angle bracket on right edge of menu item */
  content: '\e816';
  position: absolute;
  right: 1em;
  top: 0.65em;
  font-family: 'mppmpp';
}


nav li:last-child {
  border-bottom: 2px solid $nav-color; }
nav li.view-all { /* link to blog index */
  text-transform: none;
  background: #F0EDEA;
}
nav li.view-all a {
  position: relative;
  left: -6px;
}
nav li a {
  color: $nav-color;
  width: 100%;
  display: block;
  margin: -0.6em;
  padding: 0.6em;
  position: relative; }

nav li a:visited {
  color: $nav-color; }

nav li a:hover {
  color: #fff;
  text-decoration: none; }

nav li time {
  @extend small;
}

.nav-close {
  text-align: center;
  margin: 4rem 0 0;
}
.nav-close span {
  background: $nav-color;
  border-radius: 8px 8px 0 0;
  color:#fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 15px 5px;
}
