/* COLORS */
/* these colors are from */
/* http://mycolorscreen.com/2013/12/06/flat-v-for-themer/ */
/* so use all of them together. no whites or grays! */

$chocolate:#4d433d; // frontpage
$brown:#463d37; //highlight
$lightbrown:#ACA7A2;  // text color,frontpage
$lightbrowngray:#DBDAD9; //h1-h6 frontpage


//not yet used
$indianred:#b1544f;
$lightindianred:#b76352;
$darksalmon:#f2977a;
$sandybrown:#fac85a;
$darksandybrown:#f1b056;
$darkkhaki:#c4b565;
$slategray:#5b9184;
$gray:#717976;
$darkdimgray:#477278;
$dimgray:#456d6a;
$lightdimgray:#567d7a;
$lightslategray:#699192;

$frontpage-header:$indianred;
$frontpage-bg:$chocolate;
$highlight:$brown; //alternating section background color
$frontpage-text:$lightbrown;
$frontpage-h1:$lightbrowngray;

.headroom{ // this is the topbar
  height:53px;
  padding-top:7px;
  background:white;
//  position:fixed;
//  margin:0;
  width:100%;
  z-index: 20;

}
// this is the same as headroom, but it appears inside nav
.header-inside-nav{
  height:53px;
  padding-top:7px;
  background:white;
  width:100%;
}

a#menu-logo{margin-top:5px}

/**
 HEADROOM STUFF
 */

.header--fixed{
  position:fixed;
  z-index:15;
  right:0;
  left:0;
  top:0
}

/*****/

.animated{-webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -o-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both
}

.animated.slideDown{
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown
}
.animated.slideUp{
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp
}


@-webkit-keyframes slideDown{
  0%{-webkit-transform:translateY(-100%)}
  100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes slideDown{
  0%{-moz-transform:translateY(-100%)}
  100%{-moz-transform:translateY(0)}
}
@-o-keyframes slideDown{
  0%{-o-transform:translateY(-100%)}
  100%{-o-transform:translateY(0)}
}
@keyframes slideDown{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}

@-webkit-keyframes slideUp{
  0%{-webkit-transform:translateY(0)}
  100%{-webkit-transform:translateY(-100%)}
}
@-moz-keyframes slideUp{
  0%{-moz-transform:translateY(0)}
  100%{-moz-transform:translateY(-100%)}
}
@-o-keyframes slideUp{
  0%{-o-transform:translateY(0)}
  100%{-o-transform:translateY(-100%)}
}
@keyframes slideUp{
  0%{transform:translateY(0)}
  100%{transform:translateY(-100%)}
}

// END HEADROOM STUFF


#navigation{
//  padding-top:7px;
  #logo-thing{}

}

/*
header#trianglify { // currently not in use
  height:200px;
  width:100%;
  overflow:hidden;
  display:block;
  //margin:0 auto;
}
*/

body {
  //margin:60px 0 0 0;//86px is the height of the fixed-height header/nav bar
  margin: 0;
}
body.page,body.post{
  #header-background{
    background:$sandybrown;
    h2,h4{color:white}
    // meta is time and author in the header
    .meta, .meta a{color:white;}
  }
}

body.frontpage{

  background:$frontpage-bg;
  color:$frontpage-text;

  .headroom{background:$frontpage-header}
  p{color:$frontpage-text}

  h1,h2,h3,h4,h5,h6,
    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
      {color:$frontpage-h1}

  // highlight is
  .highlight{background:$highlight;}

  //buttons
  .button-primary,
  .button-selected,
  a.button-primary,
  a.button-selected {
      background-color:$darksalmon;
      color: #fff;
  }
}

body#post{ //blog posts, right?

  #header-background {

  }

}


.circle {
  display: block;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);

  //text-align: center;
  font-size: 8em;
  line-height: 2em;
  margin: 0 auto;
  //margin-left:40px;
}
img#glyph{

  display: block;
margin:0 auto;
padding-top:30px;

}

//  .icon is as yet not used
.icon {
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: 2em;

}


// separators
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.frontpage {
  section {
  color: #fff;
  }

}
/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}


/* Multiple Triangles */
.section-multitriangles::before,
.section-multitriangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.section-multitriangles::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0 $highlight, 50px -50px 0 $highlight;
}

.section-multitriangles::after {
  bottom: -25px;
  z-index: 10;
  background: inherit;
  box-shadow: -50px 50px 0 $highlight, 50px -50px 0 $highlight;
}
