/* COLORS */
/* these colors are from */
/* http://mycolorscreen.com/2013/12/06/flat-v-for-themer/ */
/* so use all of them together. no whites or grays! */

$chocolate:#4d433d; // frontpage
$brown:#463d37; //highlight
$lightbrown:#ACA7A2;  // text color,frontpage
$lightbrowngray:#DBDAD9; //h1-h6 frontpage


//not yet used
$indianred:#b1544f;
$lightindianred:#b76352;
$darksalmon:#f2977a;
$sandybrown:#fac85a;
$darksandybrown:#f1b056;
$darkkhaki:#c4b565;
$slategray:#5b9184;
$gray:#717976;
$darkdimgray:#477278;
$dimgray:#456d6a;
$lightdimgray:#567d7a;
$lightslategray:#699192;

$frontpage-header:$indianred;
$frontpage-bg:$chocolate;
$highlight:$brown; //alternating section background color
$frontpage-text:$lightbrown;
$frontpage-h1:$lightbrowngray;

#header{ // this is the topbar
  height:53px;
  padding-top:7px;
  background:white;
  position:fixed;
  margin:0;
  width:100%;
  z-index: 20;

}
#navigation{
//  padding-top:7px;
  #logo-thing{}

}

/*
header#trianglify { // currently not in use
  height:200px;
  width:100%;
  overflow:hidden;
  display:block;
  //margin:0 auto;
}
*/

body {
  margin:60px 0 0 0;//86px is the height of the fixed-height header/nav bar
}
body.page,body.post{
  #header-background{
    background:$sandybrown;
    h2,h4{color:white}
    // meta is time and author in the header
    .meta, .meta a{color:white;}
  }
}

body.frontpage{

  background:$frontpage-bg;
  color:$frontpage-text;

  #header{background:$frontpage-header}
  p{color:$frontpage-text}

  h1,h2,h3,h4,h5,h6,
    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
      {color:$frontpage-h1}

  // highlight is
  .highlight{background:$highlight;}

  //buttons
  .button-primary,
  .button-selected,
  a.button-primary,
  a.button-selected {
      background-color:$darksalmon;
      color: #fff;
  }
}

body#post{ //blog posts, right?

  header{
    margin: 0 auto;
    padding: 4.5em 2em;
    text-align: center;
  }

}


.circle {
	display: block;
	width: 1.7em;
	height: 1.7em;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);

	//text-align: center;
	font-size: 8em;
	line-height: 2em;
	margin: 0 auto;
  //margin-left:40px;
}
img#glyph{

  display: block;
margin:0 auto;
padding-top:30px;

}

//  .icon is as yet not used
.icon {
  display: block;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: 2em;
  margin: 0 auto;
}


// separators
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	position: relative;
	padding: 7em 0;
	color: #fff;

}
/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}


/* Multiple Triangles */
.section-multitriangles::before,
.section-multitriangles::after {
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.section-multitriangles::before {
	top: -25px;
	background: inherit;
	box-shadow: -50px 50px 0 $highlight, 50px -50px 0 $highlight;
}

.section-multitriangles::after {
	bottom: -25px;
	z-index: 10;
	background: inherit;
	box-shadow: -50px 50px 0 $highlight, 50px -50px 0 $highlight;
}
