@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.sans {
	font-family: 'Open Sans', sans-serif;
}
.serif {
	font-family: 'Gentium Basic', serif;
}

body {
	font-weight:300;
	color:#5a5350;
}
.share-row { @extend .sans}
a:link,a:visited{
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	@extend .sans;
}
h1{
	@extend .alpha;
	font-weight:700;}
h2{
	@extend .beta;
	font-weight:300;
	}
h3{
	@extend .gamma;
	font-weight:400;
}
h4{
	@extend .delta;
	font-weight:400;

	}
h5{
	// blog roll headlines on front page. bold, dark.
	@extend .epsilon;
	font-weight:700;
	margin-bottom:.3em;


	}
h6{ // headlines in footer
	@extend .zeta;
	font-weight:300;
	margin-bottom:.3em;
}

// meta is the author and time paragraph in the header on .post pages.
.meta {@extend .zeta;margin-bottom:0}

// override _template.scss from 65 to 80

.centered{
	text-align:center;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}

/*

.frontpage{
.half:first-child{text-align:right}
.half:last-child{text-align:left}
}


// override the text-alignment in .half on the frontpage's menu.
.frontpage nav{
	.half:first-child{text-align:left}
}
*/
ol {
	@extend small;
	li {
		margin-bottom:1.3em;
	}
}


footer {
	padding: 30px 0;
	h5 {margin-bottom:10px;}
	// footers have different list styles etc.
	ul {
		@extend .zeta;
		@extend .sans;

		//font-size:.8em;
		list-style-type:none;
		padding:0
		}
		.quarter:last-child{
			text-align:right;
		}
}

ul#blogroll{//front page
 list-style-type:none;padding:0;
 li {margin-bottom:1.5em;}
 time {
	opacity:1;
	font-weight:300;
	@extend .zeta;
	//font-family: 'Open Sans', sans-serif;
	//@extend small;
	}
}

// buttons get sans-serif font
a.button,a.button-primary{
		@extend .sans;
}
