@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic);


/*
// nice way to do things.
.serif {
	font-family: 'Gentium Basic', serif;
}
@extend .serif;
*/

body {
	font-family: 'Lato', sans-serif;

	font-weight:300;
	color:#5a5350;
}

a#menu-logo{
	font-weight:600;
	color:black;
	text-transform:lowercase;
}

a:link,a:visited{
	text-decoration:none;
}
/*
h1,h2,h3,h4,h5,h6{
	//@extend .sans;
}
*/
h1{
	@extend .alpha;
	font-weight:600;
}

.page,.post{
	h1{
		@extend .beta;
		}
	h2{
		@extend .gamma;
	}
}

h2{
	@extend .beta;
	font-weight:300;
	}
h3{
	@extend .gamma;
	font-weight:600;
}
h4{
	@extend .delta;
	font-weight:600;

	}
h5{
	// blog roll headlines on front page. bold, dark.
	@extend .epsilon;
	font-weight:600;
	margin-bottom:.3em;


	}
h6{ // headlines in footer
	@extend .zeta;
	font-weight:600;
	margin-bottom:-0.1em;
}

// meta is the author and time paragraph in the header on .post pages.
.meta {@extend .zeta;margin-bottom:0}

// override _template.scss from 65 to 80

.centered{
	text-align:center;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}

/*

.frontpage{
.half:first-child{text-align:right}
.half:last-child{text-align:left}
}


// override the text-alignment in .half on the frontpage's menu.
.frontpage nav{
	.half:first-child{text-align:left}
}
*/
ol {
	@extend small;
	li {
		margin-bottom:1.3em;
	}
}


footer {
	@extend .zeta;
	padding: 30px 0;
	h5 {margin-bottom:10px;}
	// footers have different list styles etc.
	ul {
		@extend .zeta;
	//	@extend .sans;

		//font-size:.8em;
		list-style-type:none;
		padding:0
		}
		.quarter:last-child{
			text-align:right;
		}
}

ul#blogroll{//front page
 list-style-type:none;padding:0;
 li {margin-bottom:1.5em;}
 time {
	opacity:1;
	font-weight:300;
	@extend .zeta;
	//font-family: 'Open Sans', sans-serif;
	//@extend small;
	}
}



.share-row {
	@extend .epsilon;
}
