


<footer>
	<div class="row">

		<div class="quarter">
			<h5>Caltech</h5>
			<ul>
				<li> <a href="http://www.cms.caltech.edu/">Computation + Mathematical Sciences</a> </li>
	      <li> <a href="http://www.be.caltech.edu/">Bioengineering</a> </li>
	      <li> <a href="http://www.ist.caltech.edu/">Information Science and Technology</a> </li>
			</ul>

			<h5>Harvard</h5>
			<ul>
				<li> <a href="http://sysbio.med.harvard.edu/">Systems Biology </a></li>
				<li> <a href="http://www.seas.harvard.edu/computer-science">Computer Science </a></li>
				<li> <a href="http://wyss.harvard.edu/">The Wyss Institute </a> </li>
			</ul>

		</div>

		<div class="quarter">
			<h5>University of Washington</h5>
			<ul>
	      <li> <a href="http://www.cs.washington.edu/">Computer Science and Engineering </a> </li>
	      <li> <a href="http://www.ee.washington.edu/"> Electrical Engineering </a> </li>
	      <li> <a href="http://depts.washington.edu/bioe/">Bioengineering </a> </li>
	      <li> <a href="http://depts.washington.edu/uwcsb/">UW Center for Synthetic Biology </a> </li>
			</ul>

			<h5>UCSF</h5>
			<ul>
				<li> <a href="http://biophysics.ucsf.edu/">Biophysics</a> </li>
				<li> <a href="http://bioegrad.berkeley.edu/">Bioengineering</a> </li>
				<li> <a href="http://bioinformatics.ucsf.edu/">Bioinformatics</a> </li>
			</ul>

		</div>


		<div class="quarter">
			<h5>Molecular Programming Project</h5>
			<ul>
				<li><a href="/media.html">Media</a></li>
				<li><a href="/news.html">News</a></li>
				<li><a href="/outreach.html">Research</a></li>
				<li><a href="/people.html">People</a></li>
				<li><a href="/software.html">Software</a></li>
				<li><a href="/join-us.html">Join Us</a></li>
				<li><a href="/labs.html">Labs</a></li>
			</ul>
		</div>




		<div class="quarter omega">
			<h5>links</h5>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact.html">Contact Us</a></li>
				<li><a href="/events.html">Events Calendar</a></li>
				<li><a href="/visiting-days.html">Visiting Days</a></li>
				<li><a href="/feed.xml">RSS Feed</a></li>

			</ul>
		</div>


	</div>
</footer>



<footer class="subfooter">
	<div class="row">
		<p> &copy; 20{{ site.time | date: '%y' }}   California Institute of Technology. All Rights Reserved.</p>

	</div>
</footer>
