<footer>
	<hr>
	<div class="row">



		<div class="quarter">
			<h3>links</h3>
			<ul class="list-unstyled">
				<li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>

			</ul>
		</div>

		<div class="quarter">
			<h3>links</h3>
			<ul class="list-unstyled">
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
			</ul>
		</div>


		<div class="quarter">
			<h3>links</h3>
			<ul class="list-unstyled">
				<li> <a href="#">Possible Menu Item</a> </li>
		    <li> <a href="#">Possible Menu Item</a> </li>
		    <li> <a href="#">Possible Menu Item</a> </li>
		    <li> <a href="#">Possible Menu Item</a> </li>
		    <li> <a href="#">Possible Menu Item</a> </li>
			</ul>
		</div>




		<div class="quarter omega">
			<h3>links</h3>
			<ul class="list-unstyled">
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
	      <li> <a href="#">Possible Menu Item</a> </li>
			</ul>
		</div>


	</div>
</footer>



<footer class="subfooter">
	<div class="row">
		<p> &copy; UCSF,    </p>

	</div>
</footer>
