<!-- mobile first-->
<header id="header-mobile" class="hide-on-desktop">
  <h4 ><a href="/">The Wall Lab at Stanford University</a></h4>
  <nav>
    <ul class="nav-collapse">
      <li><a class="" href="#">item</a></li>
      <li><a class="" href="#">item</a></li>
      <li><a class="" href="#">item</a></li>
      <li><a class="" href="#">item</a></li>
      <li><a class="" href="#">item</a></li>
    </ul>
  </nav>
  <a class="hide-on-desktop icon-angle-circled-down" id="toggle" class="closed">Menu</a>
</header>
<!-- end mobile-->

<!-- desktop next-->
<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}">{{ site.name }}</a>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>
      <div class="trigger">
        {% for page in site.pages %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
