<nav>

<!-- desktop next-->
<header class="header-inside-nav">
<div class="row">
	<a id="menu-logo" title=" {{ site.title }}" href="/"> {{ site.name }}  </a>

	<span class="desktop-slogan">
		an <a id="menu-logo" target="_new" href="http://www.nsf.gov/news/news_summ.jsp?cntn_id=128886">Expedition in Computing</a> funded by the <a id="menu-logo" target="_new" href="http://www.nsf.gov">National Science Foundation</a>
	</span>

	<span class="tablet-slogan">
		an <a target="_new" href="http://www.nsf.gov">nsf</a> <a target="_new" href="http://www.nsf.gov/news/news_summ.jsp?cntn_id=128886">expedition in computing</a>
	</span>

	<span class="mobile-slogan">
		an <a target="_new" href="http://www.nsf.gov">nsf</a> <a target="_new" href="http://www.nsf.gov/news/news_summ.jsp?cntn_id=128886">expedition</a>
	</span>

	<div class="menu icon-menu ">
		<a href="#" title="Main Navigation"  id="navigation">Menu</a>
	</div>

</div>


</header>




	<div class="row">
		<a title="{{ site.title }}" href="{{ site.url }}"><h1> Molecular Programming Project </h1> </a>

	</div>


	<div class="row">





		<div class="half">
			<h5>Sections</h5>
			<ul class="horizontal">
				<li><a href="/about/">About</a></li>
				<li><a href="/contact.html">Contact Us</a></li>
				<li><a href="/events.html">Events Calendar</a></li>
				<li><a href="/feed.xml">RSS Feed</a></li>
				<li><a href="/join-us.html">Join Us</a></li>
				<li><a href="/labs.html">Labs</a></li>
				<li><a href="/workshops/1">Workshops</a></li>

			</ul>
		</div>

		<div class="half">
			<h5>Sections</h5>
			<ul class="horizontal">
				<li><a href="/media.html">Media</a></li>
				<li><a href="/publications/">Latest Publications</a></li>
				<li><a href="/outreach.html">Research</a></li>
				<li><a href="/people.html">People</a></li>
				<li><a href="/outreach.html">Outreach</a></li>
				<li><a href="/software.html">Software</a></li>
			</ul>
		</div>

	</div>

	<div class="row">
		<hr>
	</div>

	<div class="row">

		<h5>Latest Publications</h5>

		<ul class="posts">
			{% for post in site.posts offset: 0 limit: 5 %}
				<li>
					<a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
					<time>{{ post.date | date: "%b %-d, %Y" }}</time></a>

				</li>
			{% endfor %}
		</ul>

		<p class="rss-subscribe icon-rss-squared"> subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>



	</div>


		<p class="nav-close"><span><i class="icon-up-dir"></i>close navigation menu<i class="icon-up-dir"></i></span></p>

</nav>
