<!-- desktop next-->
<header class="header--fixed headroom">
  <div class="row">
    <a id="menu-logo" title=" {{ site.title }}" href="/"> {{ site.name }}  </a>: an <a id="menu-logo" target="_new" href="http://www.nsf.gov/news/news_summ.jsp?cntn_id=128886">Expedition in Computing</a> funded by the <a id="menu-logo" target="_new" href="http://www.nsf.gov">National Science Foundation</a>

    <div class="menu icon-menu ">
      <a href="#" title="Main Navigation"  id="navigation">Menu</a>
    </div>

  </div>


</header>
