---
layout: default
type_class: publication
---


{% capture title %}{% if page.title %}{{ page.title }}{% else %}" "{% endif %}{% endcapture %}
{% capture link %}{% if page.pmid %}"http://www.ncbi.nlm.nih.gov/pubmed/{{ page.pmid }}"{% else %}""{% endif %} {% endcapture %}
{% capture date %}{% if page.date %}<time datetime="{{ page.date | date: "%b %-d, %Y" }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% else %}" "{% endif %}{% endcapture %}
{% capture authors %}{% if page.authors %}{{ page.authors }} {% else %}" "{% endif %}{% endcapture %}
{% capture firstauthor %}{% if page.firstauthor %}{{ page.firstauthor }} {% else %} {% endif %}{% endcapture %}
{% capture journalname %}{% if page.journalname %}{{ page.journalname }} {% else %} {% endif %}{% endcapture %}
{% capture journalvolume %}{% if page.journalvolume %}{{ page.journalvolume }}{% else %}{% endif %}{% endcapture %}
{% capture journalissue %}{% if page.journalissue %}({{ page.journalissue }}){% else %}{% endif %}{% endcapture %}
{% capture journalpages %}{% if page.journalpages %}{{ page.journalpages }} {% else %}{% endif %}{% endcapture %}



  <div class="row">
    <main>
      <article>
        <header>

        {% unless page.title == blank and page.pmid == blank %}
          <h2 class="icon-book-open"><a href={{ link }}>{{ title }}</a></h2>
        {% else %}
          <h2>{{ title }}</h2>
        {% endunless %}

        </header>

      <hr>
      <p>
        <b>Journal</b>:</br>
        <cite>
            {{ authors}},
            ({{ date }}).
            {{ title }}
            <i>{{ journalname}}</i>.
            {{ journalvolume}}{{ journalissue}},
            {{ journalpages}}

        </cite>
      </p>
        <span><b>Abstract:</b>
        {{ content | remove:'{u’#text’: u’'  }}</span>

        <p>
          <a class="icon-right-dir" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ page.pmid }}">read article</a>
        </p>


      </article>
    </main>
  </div>
