---
layout: default
body_class: frontpage
title: Home
---

<section class="frontpage-section" id="frontpage-top">
	<div class="row">

			<div class="half" id="greeting">

				<h1>Molecular Programming Project</h1>
				<p>The fundamental principles of computer science have allowed us to master electronic systems with billions of components and software with millions of lines of code to do amazingly complex tasks.</p>
				<a href="/about" class="button button-primary">Learn More</a>
			</div>

			<div class="half">

				<div class="circle">
					<img id="glyph" src="/assets/images/mpp-white-logo.png" />

				</div>

			</div>

	</div>
</section>


<section class="frontpage-section section-multitriangles" id="frontpage-middle">
	<div class="row">
		<div class="third centered">
			<a target="_new" href="http://www.nupack.org/">
				<img src="/assets/images/frontpage/01_nupack.png" class="icon "></img>
				<p>NUPACK:<br>
				nucleic acid package</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://cadnano.org/">
				<img src="/assets/images/frontpage/02_cadnano.png" class="icon "></img>
				<p>DNA nanostructure<br>
				design with caDNAno</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://molecular-systems.net/">
				<img src="/assets/images/frontpage/03_dna-paint.png" class="icon "></img>
				<p>Multiplexed super-resolution<br>
				fluorescence microscopy</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="third centered">
			<a target="_new" href="http://www.dna.caltech.edu/DNAresearch_publications.html#OscillatingDroplets">
				<img src="/assets/images/frontpage/04_droplets.png" class="icon "></img>
				<p>Compartmentalized<br>
				biochemical reaction networks</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://klavinslab.org/software.html">
				<img src="/assets/images/frontpage/05_gro.png" class="icon "></img>
				<p>gro: the cell<br>
				programming language</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://homes.cs.washington.edu/~seelig/">
				<img src="/assets/images/frontpage/06_dna-crn.png" class="icon "></img>
				<p>Programmable chemical<br>
				controllers made from DNA</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="third centered">
			<a target="_new" href="http://www.qianlab.caltech.edu/">
				<img src="/assets/images/frontpage/07_dna-seasaw.png" class="icon "></img>
				<p>Digital computation with DNA<br>
				strand-displacement cascades</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://shih.med.harvard.edu/">
				<img src="/assets/images/frontpage/08_dna-origami.png" class="icon "></img>
				<p>Self-assembly of DNA<br>
				origami into 3D shapes</p>
			</a>
		</div>
		<div class="third centered">
			<a target="_new" href="http://molecular-systems.net/">
				<img src="/assets/images/frontpage/09_dna-bricks.png" class="icon "></img>
				<p>DNA bricks: complex 3D structures<br>
				from short synthetic strands</p>
			</a>
		</div>
	</div>
</section>









<section>
	<div class="row">

			<div class="half pad-right">

			<h4>Our Mission</h4>

			<p>
			Our long-term vision is to establish molecular programming as a subdiscipline of computer science—one that will enable a yet-to-be imagined array of applications from chemical circuitry for interacting with biological molecules to nanoscale computing and molecular robotics.
			</p>


			</div>

			<div class="half">

				<a href="/publications"><h4>Latest Publications</a> <small><a class="float-right icon-rss-squared" href="/feed.xml/">Feed</a></small></h4>

					<ul id="latest-publications">
					{% for post in site.posts limit:4 %}
					<li>
						<a class="icon-book-open" href="{{ post.url }}">{{ post.title }}
						<span><time datetime="{{ post.date | date: "%b %-d, %Y" }}">  ({{ post.date | date: "%b %-d, %Y" }})</time> </span>
						</a>
						<a href="{{ post.url }}" class="icon-right-dir">read</a>


					</li>
					{% endfor %}
					</ul>


	</div>
</section>






<br style="clear:both" />




<!--
<div class="home">

	<h1>Posts</h1>

	<ul class="posts">
		{% for post in site.posts %}
			<li>
				<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

-->
