---
layout: default
body_class: frontpage
title: Home
---

<section class="frontpage-section" id="top-of-page">
	<div class="row">

			<div class="half" id="greeting">

				<h1>Molecular Programming Project</h1>
				<p>The fundamental principles of computer science have allowed us to master electronic systems with billions of components and software with millions of lines of code to do amazingly complex tasks.</p>
				<a href="/about" class="button button-primary">Learn More</a>
			</div>

			<div class="half">

				<div class="circle">
					<img id="glyph" src="/assets/images/mpp-white-logo.png" />

				</div>

			</div>

	</div>
</section>


<section class="frontpage-section highlight section-multitriangles">
	<div class="row">
				<div class="third centered">
					<span class="icon icon-mobile"></span>
					<p>The establishment of powerful architectures for programmable molecular systems—standardized molecular components and methods for combining them into larger systems. (2) The refinement of abstractions for describing molecular systems, including programming languages, compilers, and computer-aided design tools.</p>
				</div>
				<div class="third centered">
					<span class="icon icon-drawer"></span>
					<p>The theoretical study of algorithms excecuted by molecular systems, identifying the best ways to carry out molecular tasks and the fundamental principles governing what can and cannot be done.</p>
				</div>
				<div class="third centered">
					<span class="icon icon-download"></span>
					<p>the application of molecular programming to real-world problems such as the fabrication of complex molecularly-defined electronic and optical materials, the integration of molecular-scale recognition and amplification circuits within analytical techniques for studying biology, and `smart' therapeutics with programmable control over drug delivery.</p>
				</div>
		</div>
</section>









<section>
	<div class="row">

			<div class="half pad-right">

			<h4>Our Mission</h4>

			<p>
			Our long-term vision is to establish molecular programming as a subdiscipline of computer science—one that will enable a yet-to-be imagined array of applications from chemical circuitry for interacting with biological molecules to nanoscale computing and molecular robotics.
			</p>


			</div>

			<div class="half">

				<h4 >Latest News<small><a class="float-right" href="/news/">See All</a></small></h4>

				<div class=" ">
					<ul >
					{% for post in site.posts limit:4 %}
					<li>
					<h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
					<time datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
				<!--	{{ post.excerpt }} -->
				{{ post.subheading }}
					<a href="{{ post.url }}">Continue Reading &raquo;</a>
					</li>
					{% endfor %}
					</ul>
				</div>


	</div>
</section>






<br style="clear:both" />




<!--
<div class="home">

	<h1>Posts</h1>

	<ul class="posts">
		{% for post in site.posts %}
			<li>
				<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

-->
