---
layout: page
title: Publications
subheading: "The latest publications from the Molecular Programming Project."
body_class: publications
---


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/publications/index.html">Previous</a>
    {% else %}
      <a href="/publications/page{{ paginator.previous_page }}/index.html" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/publications/page{{ paginator.next_page }}/index.html" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<section>
{% for post in paginator.posts %}
  <article>
  <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

  <time datetime="{{ post.date | date: "%b %-d, %Y" }}">  ({{ post.date | date: "%b %-d, %Y" }})</time>

    {{ post.content | truncate: 300 | remove:'{u’#text’: u’' }}
    </br>
    <a class="icon-right-dir" href="{{ post.url }}">Read the abstract</a>
    </br>
    <a class="icon-right-dir" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ post.pmid }}">Link to article</a>
  </article>

{% endfor %}
</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/publications/index.html">Previous</a>
    {% else %}
      <a href="/publications/page{{ paginator.previous_page }}/index.html" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/publications/page{{ paginator.next_page }}/index.html" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
